body {
    font-family: "Poppins", sans-serif;
    background-image: url("/desktop-wallpaper-zoom-background-nomad®-dark-website.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: rgb(0,0,0);
}
/* Add a black background color to the top navigation */
.topnav {
    background-color: #38b6ff;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  

 .toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(56,182,255,255);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.logo {
    width: 30px;
    height: auto;
}
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}
.nav-link {
    color: white;
    text-decoration: none;
}